@import "../../common/scss/constants.scss";

.table {
  position: absolute;
  left: 44vw;
  top: 8vh;
  width: 12vw;
  min-width: 180px;
  height: 12vh;
  border-radius: 20px;
  padding: 5px;
  background-color: $header-background;
  box-shadow: 0 0 10px 2px $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.points {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 70px;
  line-height: 75px;
  font-weight: 600;
}

.dash {
  padding-bottom: 10px;
}
