@import "../../common/scss/constants.scss";

.image {
  width: 150px;
  height: 220px;
  border-radius: 20px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 150px;
  height: 220px;
  cursor: pointer;
  border: none;
  z-index: 10;
}

.wrapper:disabled {
  cursor: not-allowed;
}
