@import '../../common/scss/constants.scss';

.wrapper {
  display: flex;
  width: fit-content;
  font-size: 24px;
  border-radius: 7px;
  overflow: hidden;
}

.input {
  text-align: center;
  background-color: $input-background;
  font-weight: var(--font-weight);
  width: 50px;
  height: 35px;
  padding: 4px;
}

.button {
  background-color: $header-background;
  border: none;
  width: 40px;
  height: 35px;
  font-size: 24px;
  padding: 0;
  cursor: pointer;
  transition: all ease 0.3s;
}

.button:hover {
  opacity: 0.8;
}
