@import "../../common/scss/constants.scss";

.header {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  position: fixed;
  border-radius: $header-border-radius;
  border-bottom: $border-width solid $header-border;
  background-color: $header-background;
  height: 50px;
  transition: $default-transition;
}
.header:hover {
  height: 65px;
  font-size: 30px;
}
